name: Deploy DocC

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - .gitignore

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-14
    env:
      DEVELOPER_DIR: /Applications/Xcode_16.0.app/Contents/Developer

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build DocC
        run: |
          xcodebuild docbuild \
            -project Examples/Examples.xcodeproj \
            -scheme LicenseList \
            -destination "generic/platform=iOS" \
            -derivedDataPath /tmp/docbuild \
            -skipPackagePluginValidation

          $(xcrun --find docc) process-archive \
             transform-for-static-hosting /tmp/docbuild/Build/Products/Debug-*/LicenseList.doccarchive \
             --output-path ./docs \
             --hosting-base-path "LicenseList"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: "https://cybozu.github.io/LicenseList/documentation/licenselist/"

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
